.tabs {
  height: 100%;
  display: flex;
  position: relative;
}

.tab__list {
  width: 15rem;
}

.tab__panel {
  flex: 1;
  display: none;
  padding: 1.5rem 2rem;
  background-color: var(--container-color);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
}

.tab__panel.is-active {
  display: block;
}

.tab__panel-list li {
  position: relative;
  padding-left: 20px;
}

.tab__panel-list li::before {
  content: "▹";
  position: absolute;
  left: 0;
}

.button {
  display: inline-block;
  width: 100%;
  padding: 1rem 2rem;
  background: none;
  cursor: pointer;
  font-family: inherit;
  font-size: var(--normal-font-size);
  font-weight: var(--font-bold);
  color: var(--title-color);
  text-align: left;
}

.tab:first-child .button {
  border-top-left-radius: var(--border-radius);
}

.tab:last-child .button {
  border-bottom-left-radius: var(--border-radius);
}

.button:focus,
.button:hover {
  outline: 0;
  color: var(--first-color);
}

.tab.is-active .button {
  background-color: var(--container-color);
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  box-shadow: var(--shadow);
  color: var(--first-color);
}

.tab__panel:first-of-type.is-active,
.tab__panel:last-child.is-active {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

@media screen and (max-width: 768px) {
  .resume__container {
    max-width: 100%;
  }

  .tabs {
    flex-direction: column;
  }

  .tab__list {
    display: flex;
    overflow-x: auto;
    width: 100%;
    margin-bottom: 2rem;
    padding-bottom: 5px;
  }

  .tab__list::-webkit-scrollbar {
    height: 5px;
  }

  .tab__list::-webkit-scrollbar-thumb {
    background-color: var(--first-color);
    border-radius: 10px;
  }

  .tab {
    flex: 0 0 auto;
    margin-right: 0.5rem;
  }

  .button {
    text-align: center;
    padding: 0.75rem 1.25rem;
    white-space: nowrap;
    border-radius: var(--border-radius) !important;
  }

  .tab.is-active .button {
    border-radius: var(--border-radius) !important;
  }

  .tab__panel {
    padding: 1.5rem 1rem;
  }

  .tab__panel-title {
    font-size: var(--normal-font-size);
  }

  .tab__panel-list li {
    padding-left: 15px;
    font-size: 0.9rem;
    line-height: 1.4;
  }
}

.tab__panel-title {
  font-size: var(--h3-font-size);
  margin-bottom: 1rem;
  color: var(--title-color);
}

[data-theme="dark"] .tab__panel-title {
  color: #fff;
}

.tab__panel-subtitle {
  font-size: var(--normal-font-size);
  margin-bottom: 1rem;
}

[data-theme="dark"] .tab__panel-subtitle {
  color: #f8f9fa;
}